# Set & Dictionary

### **문제 1**

다음 조건에 맞는 **셋**을 생성하세요.

1. `fruits`라는 셋을 선언하고 `'apple', 'banana', 'cherry'`를 추가하세요.
2. `print()`를 사용하여 `fruits`를 출력하세요.

In [1]:
fruits = {'apple', 'banana', 'cherry'}

print(fruits)

{'banana', 'cherry', 'apple'}

### **문제 2**

아래 조건에 따라 셋의 **특정 요소를 제거**하고 결과를 출력하세요.

1. `animals`라는 셋에 `'cat', 'dog', 'bird', 'fish'`를 저장하세요.
2. `'bird'`를 제거한 후, `print()`를 사용해 남은 요소를 출력하세요.

In [2]:
animals = {'cat', 'dog', 'bird', 'fish'}
animals.remove('bird')

print(animals)

{'dog', 'fish', 'cat'}

### **문제 3**

다음 조건에 맞게 **집합 연산**을 수행하세요.

1. `set1`에 `{1, 2, 3}`을 저장하고, `set2`에 `{3, 4, 5}`를 저장하세요.
2. `set1`과 `set2`의 **합집합**을 구해서 출력하세요.

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

### **문제 4**

아래 조건을 만족하는 딕셔너리를 생성하세요.

1. `student`라는 이름의 딕셔너리를 선언하고 다음 키-값 쌍을 추가하세요:
    - `'name'`: `'John'`
    - `'age'`: `20`
    - `'major'`: `'Computer Science'`
2. `'age'`의 값을 출력하세요.

In [5]:
student = {
    'name': 'John',
    'age': 20,
    'major': 'Computer Science'
}

print(student['age'])

20

### **문제 5**

아래 조건에 맞게 딕셔너리를 수정하세요.

1. `scores`라는 딕셔너리에 `'math': 80, 'english': 90`을 저장하세요.
2. `'math'`의 값을 `95`로 변경하고 딕셔너리를 출력하세요.

In [6]:
scores = {
    'math': 80,
    'english': 90
}

scores['math'] = 95

print(scores)

{'math': 95, 'english': 90}

### **문제 6**

다음 조건에 맞게 **셋의 메서드**를 활용하세요.

1. `colors1`에 `'red', 'blue', 'green'`을 저장하세요.
1. `colors2`에 `'blue', 'yellow', 'pink'`를 저장하세요.
2. 두 셋의 **교집합**을 구하여 출력하세요.

In [8]:
colors1 = {'red', 'blue', 'green'}
colors2 = {'blue', 'yellow', 'pink'}

print(colors1 & colors2)
print(colors1.intersection(colors2))

{'blue'}
{'blue'}

### **문제 7**

다음 조건에 맞는 **딕셔너리 메서드**를 사용하세요.

1. `info` 딕셔너리에 `'name': 'Alice', 'age': 25, 'city': 'Seoul'`을 저장하세요.
2. 메서드를 사용해 딕셔너리의 모든 키를 출력하세요.
3. 메서드를 사용해 딕셔너리의 모든 값을 출력하세요.

In [9]:
info = {
    'name': 'Alice',
    'age': 25,
    'city': 'Seoul'
}

print(info.keys())
print(info.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'Seoul'])

### **문제 8**

다음 조건에 맞게 딕셔너리를 조작하세요.

1. `students` 딕셔너리에 `'student1': 85, 'student2': 90, 'student3': 95`를 저장하세요.
2. `pop()` 메서드를 사용해 `'student2'`의 값을 제거하고, 제거된 값을 출력하세요.

In [10]:
students = {
    'student1': 85,
    'student2' : 90,
    'student3' : 95
}

print(students.pop('student2'))
print(students)

90
{'student1': 85, 'student3': 95}

### **문제 9**

아래 조건에 맞는 **셋과 딕셔너리**를 사용하세요.

1. `numbers`라는 셋에 `{1, 2, 3, 4, 5}`를 저장하세요.
2. 딕셔너리 `squares`를 생성하고, 각 숫자를 키로, 숫자의 **제곱값**을 값으로 저장하세요.
3. 딕셔너리를 출력하세요.

In [ ]:
numbers = {1, 2, 3, 4, 5}

# 방법 1. 딕셔너리 내포 활용
# squares = {num: num**2 for num in numbers}

# 방법 2. 반복문 활용
# squares = {}
# for num in numbers:
#     squares[num] = num**2

# 방법 3. dict(), zip(), 배열 내포 활용
squares = dict(zip(numbers, [n**2 for n in numbers]))

squares

<zip object at 0x000002AA6C084940>

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### **문제 10**

다음 조건에 맞는 프로그램을 작성하세요.

1. 두 셋 `A = {1, 2, 3, 4}`와 `B = {3, 4, 5, 6}`가 있습니다.
2. `A`와 `B`의 **대칭 차집합**을 구하세요.
3. 결과를 `print()`를 사용해 출력하세요.

In [12]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 5, 6}
{1, 2, 5, 6}

**[Tip]** 삼항연산자는 여러 개를 중첩해 사용할 수 있다 (단, 가독성이 떨어지므로 너무 많이 중첩해야 할 때는 삼항연산자보다 if 블럭을 활용하는 것이 좋다)

In [ ]:
age = 280

gen = '어린이' if age <= 19 else ('성인' if age <= 70 else ('노인' if age <= 200 else '유령'))
gen

'유령'