### **문제 1**

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    - `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [2]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0], fruits[2])

apple cherry

### **문제 2**

다음 조건을 만족하는 리스트를 만드세요.

1. `numbers`라는 리스트를 선언하고 숫자 `1`부터 `5`까지 저장하세요.
2. 이 리스트의 **길이**를 출력하세요.

In [3]:
numbers = [1, 2, 3, 4, 5]
print(len(numbers))

5

### **문제 3**

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [5]:
animals = ['cat', 'dog', 'bird']
animals.append('fish')
print(animals)

['cat', 'dog', 'bird', 'fish']

### **문제 4**

아래 조건에 맞는 프로그램을 작성하세요.

1. `numbers` 리스트에 숫자 `3, 6, 9`를 저장하세요.
2. 리스트의 첫 번째 요소를 **2배**로 만들어 다시 저장하고, 리스트를 출력하세요.

In [6]:
numbers = [3, 6, 9]
numbers[0] *= 2
print(numbers)

[6, 6, 9]

### **문제 5**

아래 문자열을 리스트로 변환하고 결과를 출력하세요.

1. 문자열 `'Python-is-fun'`을 `'-'`를 기준으로 분리하여 리스트로 만드세요.
2. 결과 리스트를 출력하세요.

In [8]:
s = 'Python-is-fun'
sentence = s.split('-')
print(sentence)

['Python', 'is', 'fun']

### **문제 6**

다음 조건에 맞게 **튜플**을 선언하고 활용하세요.

1. `my_tuple`이라는 이름으로 숫자 `10, 20, 30`을 가진 튜플을 선언하세요.
2. `my_tuple`의 두 번째 요소를 출력하세요.

In [9]:
my_tuple = (10, 20, 30)
print(my_tuple[1])

20

### **문제 7**

아래 조건에 맞게 리스트의 요소를 수정하세요.

1. `colors` 리스트에 `'red', 'blue', 'green'`을 저장하세요.
2. `'blue'`를 `'yellow'`로 변경하고 리스트를 출력하세요.

In [14]:
colors = ['red', 'blue', 'green']

colors[colors.index('blue')] = 'yellow'
print(colors)

['red', 'yellow', 'green']

### **문제 8**

아래 조건에 맞는 리스트 내포를 작성하세요.

1. 숫자 `1`부터 `10`까지 중에서 **짝수만**을 추출해 새로운 리스트에 저장하세요.
2. 리스트를 출력하세요.

In [16]:
num = []

for i in range(1, 11):
    if i % 2 == 0:
        num.append(i)

print(num)

[2, 4, 6, 8, 10]

### **문제 9**

아래 조건에 맞게 리스트와 문자열을 활용하세요.

1. 리스트 `words`에 `'Life', 'is', 'too', 'short'`를 저장하세요.
2. 리스트의 요소를 공백으로 이어붙여 문자열 `'Life is too short'`를 출력하세요.

In [20]:
# words = ['Life', 'is', 'too', 'short']
# sentence = ""
# for i in range(len(words)-1):
#     sentence += words[i] + " "
    
# sentence += words[-1]
# print(sentence)


words = ['Life', 'is', 'too', 'short']
result = " ".join(words)
print(result)

Life is too short

### **문제 10**

아래 조건에 맞는 프로그램을 작성하세요.

1. 리스트 `numbers`에 숫자 `1, 2, 3, 4, 5`를 저장하세요.
2. 슬라이싱을 이용하여 다음을 수행하세요:
    - 리스트의 **처음 3개의 요소**를 출력하세요.
    - 리스트의 **마지막 2개의 요소**를 출력하세요.
    - 리스트의 **모든 요소를 역순**으로 출력하세요.

In [40]:
numbers = [1, 2, 3, 4, 5]

print(numbers[1:3])
print(numbers[3:])
print(numbers[::-1])

[2, 3]
[4, 5]
[5, 4, 3, 2, 1]

In [3]:
num_list = [2025, 6, 26, 9, 18]

num_list.sort()
print(num_list)

num_list.sort(reverse=True)
print(num_list)

[6, 9, 18, 26, 2025]
[2025, 26, 18, 9, 6]

In [8]:
num_list2 = [2025, 6, 26, 9, 18]

sorted(num_list2)
print(num_list2)

num_list2 = sorted(num_list2, reverse=False)
print(num_list2)

[2025, 6, 26, 9, 18]
[6, 9, 18, 26, 2025]

In [12]:
anything = (2026, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

# anything[0] = 2025
anything

(2026, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

In [15]:
anything = (2025, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

anything

(2025, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

In [16]:
# 이번에는 튜플의 값을 변경한게 아니라 배열의 값을 변경함.
anything[-1][-1] = '!'

anything

(2025, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', '!'])